.area{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    margin: 1.5rem;
}

.tarefasBox{
    max-width: 80%;
    background-color: #d8d8d8;
    padding: 1.5rem;
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    
}

