.area{
    min-width: 10vw;
    width: 11vw;
    min-height: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nomeCompleto{
    margin-top: 0.8vw;
    font-size: 1.4rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 90%;
    text-align: center;
    white-space: nowrap;
}

.foto{
    width: 9vw;
    height: 12vw;    
    margin-top: 0.8vw;
    margin-bottom: 0.8vw;
    border-radius: 50%;
}

.opcao {
 user-select: none; 
 width: 100%;
 height: 3vw;
 text-align: center;
 display: flex;     
  align-items: center;    
 justify-content: center;
 font-size: 1.2rem;
 font-weight: bold;
}
.opcao_nao_escolhida{
    background-color: grey;   
    transition: background-color 0.15s ease;
}
.opcao_nao_escolhida:hover {
 background-color: #f0f0f0;
 cursor: pointer;
}

.opcao_escolhida{
    background-color: #f0f0f0;
}

.logout{ 
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 0.8rem;
    margin-right: 0.8rem;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.5vw;
    border-radius: 0.3vw;
    font-weight: bold;
    transition: color 0.15s ease, background-color 0.15s ease;
}
.logout:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(90, 90, 90);
    cursor: pointer;
}